@using static LeaveManagementSystem.Web.Services.LeaveRequests.LeaveRequestsService
@model EmployeeLeaveRequestListVM;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "View Leave Requests";
}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body text-center">
                <h1 class="card-title">@Model.TotalRequest</h1>
                <h5 class="card-text text-primary">@Html.DisplayNameFor(model => model.TotalRequest)</h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body text-center">
                <h1 class="card-title">@Model.ApprovedRequests</h1>
                <h5 class="card-text text-success">@Html.DisplayNameFor(model => model.ApprovedRequests)</h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body text-center">
                <h1 class="card-title">@Model.PendingRequests</h1>
                <h5 class="card-text text-warning">@Html.DisplayNameFor(model => model.PendingRequests)</h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body text-center">
                <h1 class="card-title">@Model.RejectedRequests</h1>
                <h5 class="card-text text-danger">@Html.DisplayNameFor(model => model.RejectedRequests)</h5>
            </div>
        </div>
    </div>
</div>
@if(Model.LeaveRequests.Count == 0){

<div class="alert alert-info">
    <h3>There are no Requests at this time</h3>
</div>
}else{
<hr/>
<h2>Leave Requests</h2>
<hr>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].LeaveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].NumberOfDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].LeaveRequestStatus)
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody>
  
        @foreach (var item in Model.LeaveRequests)
        {
            var className = string.Empty;
            if (item.LeaveRequestStatus == LeaveRequestStatuses.Pending)
            {
                className = "warning";
            }
            else if (item.LeaveRequestStatus == LeaveRequestStatuses.Approved)
            {
                className = "success";
            }
            else if (item.LeaveRequestStatus == LeaveRequestStatuses.Canceled)
            {
                className = "dark";
            }
            else if (item.LeaveRequestStatus == LeaveRequestStatuses.Declined)
            {
                className = "danger";
            }
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfDays)
                </td>
                <td>
                    <span class="badge rounded-pill bg-@className">@item.LeaveRequestStatus.ToString()</span>
                </td>

                <td>
                    @if (item.LeaveRequestStatus == LeaveRequestStatuses.Pending)
                    {
                        <button data-id="@item.Id" class="btn btn-primary">Review</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
}



